.input-form-container {
  /*
  width: 500px;
  min-width: 200px;
  height: 300px;
  */

  text-align: left;
  /* border: 2px solid blue; */
  padding: 5px;

  /* flex: 1; */

  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-wrap: nowrap;
}

.input-form-body {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: nowrap;
}

.input-form-elements {
  flex: 1;
}

.submit-button {
  max-width: 100px;
  margin: auto;
}
